

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/y-akbal/Tedu_Time_Series/blob/main/W6/W6P5ipynb)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
import statsmodels
from statsmodels.tsa import stattools

In [ ]:
!pip install yfinance
!pip install yahoofinancials

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.1 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoofinancials
  Downloading yahoofinancials-1.6.tar.gz (27 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2022.2.1)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.6-py3-none-any.whl size=15192 sha256=266db8bc53c242e82b49bcf0760752fcccb779ec0b95d8d2bee4d5529c1f37d0
  Stored in directory: /root/.cache/pip/wheels/4b/63/46/e7110bfee88685fe69e338d1b14d1748921862aa57b6705b60
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.6

In [ ]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [ ]:
yf.download("BTC-USD")    #### Let's do some fancy thing, and go reach pal! I known you are about to do it!

[*********************100%***********************]  2 of 2 completed

1 Failed download:
- CRUDE: No data found, symbol may be delisted

           Adj Close            Close             High              Low  \
               CRUDE        OIL CRUDE        OIL CRUDE        OIL CRUDE
Date
2011-04-21       NaN  50.349998   NaN  50.349998   NaN  50.349998   NaN
2011-04-25       NaN  50.049999   NaN  50.049999   NaN  50.570000   NaN
2011-04-26       NaN  50.299999   NaN  50.299999   NaN  50.430000   NaN
2011-04-27       NaN  50.810001   NaN  50.810001   NaN  50.849998   NaN
2011-04-28       NaN  50.700001   NaN  50.700001   NaN  51.160000   NaN
...              ...        ...   ...        ...   ...        ...   ...
2022-09-26       NaN  27.379999   NaN  27.379999   NaN  28.670000   NaN
2022-09-27       NaN  27.959999   NaN  27.959999   NaN  28.250000   NaN
2022-09-28       NaN  29.049999   NaN  29.049999   NaN  29.230000   NaN
2022-09-29       NaN  28.940001   NaN  28.940001   NaN  29.750000   NaN
2022-09-30       NaN  28.299999   NaN  28.299999   NaN  28.790001   NaN

                       Open            Volume
                  OIL CRUDE        OIL  CRUDE    OIL
Date
2011-04-21  49.900002   NaN  49.939999    NaN  10500
2011-04-25  49.910000   NaN  50.570000    NaN  14900
2011-04-26  50.099998   NaN  50.180000    NaN  15000
2011-04-27  49.799999   NaN  50.349998    NaN  35200
2011-04-28  50.169998   NaN  50.779999    NaN  44800
...               ...   ...        ...    ...    ...
2022-09-26  27.260000   NaN  28.209999    NaN  26100
2022-09-27  27.620001   NaN  27.760000    NaN  25600
2022-09-28  28.170000   NaN  28.230000    NaN  20200
2022-09-29  28.820000   NaN  29.750000    NaN  16400
2022-09-30  28.230000   NaN  28.750000    NaN   7000

[2881 rows x 12 columns]